@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define background colors as CSS variables */
:root {
  --light-background-color: #4a3d26;
  --dark-background-color: #000000; /* Example dark background color */
}

body {
  color: currentColor;
}

/* Apply light theme background color */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-background-color) !important; /* Add !important to override other styles */
  }
}

/* Apply dark theme background color */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background-color);
  }
}
